
<ion-view view-title="">
 <ion-nav-buttons side="primary">
<!--   <button class="button button-small button-positive" > 
     Back to RBC App
      </button>
        <div class="title">Chat</div> -->
      <button class="button button-small button-balanced" href="tel:+118007692520">
      <i class="ion-ios-telephone"></i>
     Call
      </button>
       
    </ion-nav-buttons>
<ion-content class="available-scroller " scrollbar-x="false" overflow-scroll="true"  >

<ion-item class="chat" collection-repeat="item in v.messages">

  <div  ng-show="item.is_customer" >
  <i class=" icon  item-text-wrap ion-chatbubble">
    {{item.message}}
  </i>
  </div>


  <div ng-show="!item.is_customer" class="item-text-wrap  item-icon-right" >
  <i  class="icon ion-ios-chatbubble-outline  " id="rep_chat">
    {{item.message}}
  </i>
  </div>

</ion-item>

</ion-content>
<div class=" kickfooter bar bar-footer item-input-inset ">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-chatbubble-outline placeholder-icon"></i>
    <input type="search" ng-model="v.question" placeholder="I need a new Visa">
  </label>
  <button class="button button-positive" ng-click="ask()">
    Send
  </button>

</div>
</ion-view>
