<ion-view >
<ion-content  has-bouncing="false" class="container">
<ion-slide-box  show-pager="false">
<ion-slide>
<div >

	<h1>Interact with Rep that matches YOU</h1>

</div>
</ion-slide>

<ion-slide>
<div >
	<h1>We speak your language</h1>

	<button class="button button-full button-positive" ng-click="stepdone(1,'en')">
		English
	</button>
	<button class="button button-full button-positive" ng-click="stepdone(1,'fr')">
		Français
	</button>
	<button class="button button-full button-positive" ng-click="stepdone(1,'in')">
		ᐃᓄᒃᑎᑐᑦ ᑎᑎᕋᐅᓯᖅ (inuktitut)
	</button>

	<button class="button button-full button-positive" ng-click="stepdone(1,'ru')">
		Pусский
	</button>

	<button class="button button-full button-dark" ng-click="stepdone(1,'skip')">
		Skip
	</button>


</div>
</ion-slide>
<ion-slide>
<div ><h1>Topic?</h1>

	<button class="button button-full button-positive" ng-click="stepdone(2,'mortgage')">
		Mortgage
	</button>

	<button class="button button-full button-energized" ng-click="stepdone(2,'business')">
		Business Banking
	</button>

	<button class="button button-full button-dark" ng-click="stepdone(2,'skip')">
		Other
	</button>


</div>
</ion-slide>
<ion-slide>
<div ><h1>Preferred Location</h1>

	<button class="button button-full button-positive" ng-click="stepdone(3,'dt')">
		Downtown Toronto
	</button>

	<button class="button button-full button-energized" ng-click="stepdone(3,'sc')">
		Scarborough Town Centre
	</button>

	<button class="button button-full button-dark" ng-click="stepdone(3,'skip')">
		Skip
	</button>


</div>
</ion-slide>


<ion-slide>
<div >

	<button class="button button-full button-assertive" ng-click="start()">
		Ready to Connect with Rep?
	</button>

</div>
</ion-slide>


</ion-slide-box>


</ion-content>
</ion-view>
