

h2{
	font-family: "Helvetica Neue";
	font-weight: normal;
	color:#606060;
}


.container {

 background-image: url('/img/bg.png');
}
.slider-slide {
    height: 700px;
}


/*this is for chat height*/
.available-scroller {
  height: 75%;
}
.kickfooter {
	margin-bottom: 50px; 
}
.item.chat {
	border-style: none;

		
}

#rep_chat {

	font-size: 15px;
	
}